* {
    font-family: JetBrains Mono, monospace;
    font-size: 14px;
}

window {
    background-color: rgba(30, 30, 46, 0.85); /* transparência aqui */
    border-radius: 12px;
}

#entry {
    padding: 8px;
}

#entry:selected {
    background-color: rgba(137, 180, 250, 0.9);
    color: #1e1e2e;
}
